* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner, .bottom-infocard-image {
    display: block;
    width: 100%;
}

.top-infocard {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-infocard-text {
    max-width: 766px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-infocard-subtitle {
    text-transform: uppercase;
    font-size: 32px;
}

.top-infocard-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-description {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image {
    margin-top: 66px;
    max-width: 315px;
}

.top-cards {
    margin: 180px 32px 80px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 26px 26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 26px;
}

.top-card-description {
    max-width: 300px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.middle-banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
    background: #E0E0E0;
}


.middle-banner {
    display: block;
    width: 100%;
    position: relative;
    bottom: -64px;
}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    margin: 178px 32px 138px;
    justify-content: center;
    align-items: center;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 32px 64px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 30px;
}

.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 104px;
}

.bottom-infocard-image {
    max-width: 1360px;
}

.bottom-infocard-image-desktop {
    margin-top: 32px;
}

.bottom-infocard-title {
    text-align: center;
    line-height: 1;
    font-weight: 600;
    font-size: 32px;
}

.bottom-infocard-description {
    margin-top: 18px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    max-width: 550px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
}

.footer-icons {
    margin-bottom: 16px;
    display: flex;
    list-style: none;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    text-transform: uppercase;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
    color: #BDBDBD;
}

@media screen and (max-width: 414px) {
    .main-banner-desktop, .bottom-infocard-image-desktop {
        display: none;
    }
    .top-cards {
        margin: 106px 0 80px;
        padding: 0 32px;
    }
    .bottom-cards {
        margin: 120px 24px 76px;
    }
}

@media screen and (min-width: 415px) {
    .main-banner-mobile, .bottom-infocard-image-mobile {
        display: none;
    }
}

@media screen and (min-width: 415px) and (max-width: 768px) {
    .top-cards {
        margin: 186px 0 80px;
        padding: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .top-cards {
        grid-template-columns: 1fr;
    }
    .middle-banners {
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        padding: 24px;
    }
    .middle-banner {
        bottom: -32px;
    }
    .middle-banner-third {
        grid-column: 1/3;
    }
    .bottom-cards {
        grid-template-columns: 1fr;
        margin: 80px 32px
    }
    .bottom-card-description {
        max-width: 302px;
    }
    .bottom-infocard-title {
        margin-top: 50px;
        font-size: 24px;
    }
    .bottom-infocard-description {
        max-width: 350px;
    }
}


@media screen and (min-width: 769px) and (max-width: 992px) {
    .bottom-card-description {
        max-width: 280px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1264px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
        margin: 80px 32px
    }
}

@media screen and (min-width: 769px) and (max-width: 1919px) {
    .bottom-cards {
        grid-template-columns: repeat(2, max-content);
    }
}

@media screen and (max-width: 992px) {
    .top-infocard-text {
        margin: 66px 28px 0;
    }
    .top-infocard-subtitle {
        font-size: 20px;
    }
    .top-infocard-title {
        font-size: 28px;
    }
    .top-infocard-description {
        text-align: center;
    }
    .top-infocard-image {
        max-width: 240px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1919px) {
    .bottom-card-description {
        max-width: 500px;
    }
}

@media screen and (min-width: 1920px) {
    .bottom-cards {
        grid-template-columns: repeat(4, max-content);
    }
}

